.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  &_primary {
    background: #60C2AA;
    color: #FFFFFF;

    &:hover {
      background: #3BA189;
      color: #FFFFFF;
    }
  }

  &_secondary {
    background: #F7F7F7;

    &:hover {
      background: #DCDCDF;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}
