.app {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  min-height: 100vh;

  &__content {
    margin-top: 80px;

    &_centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
